.paginacion{
     height: 134px;
     background-color: $light-gray;

}
.page-link{
     color: $eerie-black;
     &:hover{
          background-color: $white;
          color: $nickel;
     }
}
.page-item:first-child .page-link {
     margin-left: 0;
     border-top-left-radius: 1rem;
     border-bottom-left-radius: 1rem;
 }

 .page-item:last-child .page-link {
     border-top-right-radius: 1rem;
     border-bottom-right-radius: 1rem;
 }



@media screen and (max-width: 576px) {
     .page-item.active .page-link {
          background-color: $eerie-black;
          border-color: $eerie-black;
     }
}

@media screen and (min-width: 768px) {
     .page-item.active .page-link {
          background-color: $nickel;
          border-color: $nickel;
     }
}