h1{
    color: $white;
    font-family: $playfair;
    font-weight: $black-italic;
    font-style: italic;
    font-size: $xx-large;

}
p{
     color: $raisin-black;
     font-family: $roboto;
     font-weight: $light-font;
     font-size: $medium; 
}